.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Добавляет небольшое расстояние между элементами */
    margin-bottom: 20px; /* Добавляет отступ снизу к следующему блоку */
}

.postInput {
    width: 50%; /* Ширина поля ввода */
    padding: 10px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
    border: 1px solid #ccc; /* Тонкая серая граница */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Шрифт текста */
    display: block; /* Занимает всю доступную ширину контейнера */
    margin: 0 auto 20px; /* Центрируется по горизонтали и имеет нижний отступ */
}

.addPostBtn {
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Скругление углов кнопки */
    border: none; /* Убирает стандартную рамку */
    background-color: #007bff; /* Синий фон кнопки */
    color: white; /* Белый цвет текста */
    cursor: pointer; /* Показывает указатель, подсказывая о кликабельности */
    transition: background-color 0.3s; /* Плавное изменение фона при наведении */
}

.addPostBtn:hover {
    background-color: #0056b3; /* Темно-синий фон при наведении */
}