.header {
    grid-area: header;
    background-color: #3C548B;
    padding: 10px 20px; /* Добавляем небольшой отступ для воздуха вокруг содержимого */
    display: flex; /* Используем flexbox для лучшего выравнивания элементов */
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: space-between; /* Распределение пространства между элементами и краями */
    box-shadow: 0 2px 4px rgba(0,0,0,0.9); /* Добавляем тень для объемности */
    border-radius: 15px;
}

.header img {
    width: auto;
    height: 100%; /* Устанавливаем высоту изображения, чтобы поддерживать пропорции */
    max-height: 60px; /* Ограничиваем максимальную высоту, чтобы изображение не было слишком большим */
    margin-left: 20px; /* Добавляем отступ слева для воздуха */
    border-radius: 15px;
}

/* Добавляем медиа-запросы для отзывчивого дизайна */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* При маленьких экранах ставим элементы в вертикальный стек */
        padding: 10px;
    }

    .header img {
        margin: 10px 0; /* Устанавливаем отступ сверху и снизу для изображения на малых экранах */
    }
}
