.app-wrapper {
    display: grid;
    width: 1500px;
    margin: 0 auto;

    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 4px;


    grid-template-areas:
"header header"
"navbar content";
}

.header {
    grid-area: header;
    background-color: #3C548B;
}

.header img {
    width: 200px;
}

.navbar {
    grid-area: navbar;
    background-color: #3C548B;
}

.content {
    grid-area: content;
    background-color: #E86221;
}

/*.content img {*/
/*    height: 300px;*/
/*    width: 1246.67px;*/
/*}*/