.app-wrapper {
    display: grid;
    max-width: 1200px; /* Установка максимальной ширины для адаптивности */
    margin: 50px auto; /* Добавляет больше пространства сверху и снизу */
    padding: 20px; /* Добавляем отступ внутри оболочки */

    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 3fr; /* Немного изменил соотношение столбцов для лучшего баланса */
    grid-gap: 20px; /* Увеличиваем расстояние между элементами сетки */

    grid-template-areas:
            "header header"
            "navbar content";

    border-radius: 10px; /* Добавление закругления углов для общей оболочки */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Добавляем тень для визуального выделения области */
    background-color: #8c8ba1; /* Изменяем фон на белый для консистентности */
    overflow: hidden; /* Скрываем все вне рамки закругления */
}

.app-wrapper-content {
    grid-area: content;
    background-color: #d9bfbf; /* Используем светлый фон для области содержимого */
    padding: 30px; /* Внутренние отступы для структурирования содержимого */
    border-radius: 10px; /* Добавляем закругление углов для области содержимого */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Легкая тень для создания ощущения слоя */
    overflow: auto; /* Позволяет внутреннему содержимому прокручиваться если это необходимо */
}





